@import 'tailwindcss';
/* @import './common/theme.css'; */
/* 수동으로 다크 모드 적용하는 경우 */
/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --font-pretendard: 'Pretendard Variable', Pretendard, sans-serif;

  --color-like: red;
  --color-lion: green;
  --color-likelion-black: #303033;
  --color-likelion-silver: #f5f5f5;
  --color-likelion-red: #b02c20;
  --color-likelion-green: #58dc76;

  --building: url(../src/assets/images/building.avif);

  --autofit: repeat(auto-fit, minmax(240px, 1fr));
}

@layer components {
  .bootcamp {
    background-color: orange;
    padding: 1em;
    margin-block: 1em;
    border: 5px solid blue;
  }

  .like {
    @apply border-4 border-red-500 p-4 my-4 bg-violet-400;
  }
}

@utility shape-circle {
  shape-outside: circle(50%);
}
